@use 'base/variables' as v;
@use 'base/mixins' as m;

.real-estate {
    &__heading{
        text-align: center;
    }

    &__flex {
        display: flex;
        flex-direction: column;
        height: max-content;
        
        @include m.device(v.$tablet) {
            flex-direction: row;
        }
    }

    &__properties {
        width: 100%;
        display: grid;

        @include m.device(v.$tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include m.device(v.$XLDesktop) {
            grid-template-columns: repeat(4, 1fr);
        }

        gap: 2rem;
    }
}