@use 'base/variables' as v;
@use 'base/mixins' as m;

.real-estate {
    &__heading{
        text-align: center;
        margin: 0;
        padding-bottom: 2rem;
    }

    &__flex {
        display: flex;
        flex-direction: column;
        
        @include m.device(v.$tablet) {
            flex-direction: row;
            height: 60rem;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    &__properties {
        width: 100%;
        height: max-content;
        display: grid;

        @include m.device(v.$tablet) {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 3rem;
        }

        @include m.device(v.$XLDesktop) {
            grid-template-columns: repeat(4, 1fr);
        }

        gap: 2rem;
    }
}