@use 'base/variables' as v;
@use 'base/mixins' as m;

.real-estate {
    &__heading{
        text-align: center;
    }

    &__flex {
        display: flex;
        gap: 2rem;
    }

    &__aside {
        width: 30rem;
        top: 0;
    }

    &__properties {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}