@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    position: relative;
    min-height: 40rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: v.$darkFontColor;
    overflow: hidden;

    @include m.device(v.$tablet) {
        height: 50rem;
    }

    @include m.device(v.$XLDesktop) {
        height: 90rem;
    }

    &__content {
        background-image: linear-gradient(transparentize(v.$lightFontColor, .2), transparent);
        height: 100%;
        width: 100%;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    &__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include m.device(v.$tablet) {
            // padding-top: 110px;
            height: 100%;
            justify-content: center;
        }
    }
    
    &__heading {
        text-align: center;

        &-span {
            display: block;
            font-size: 2.5rem;
            margin-top: 2rem;
            font-weight: 400;
            font-family: v.$secundaryFont;
        }
    }

    &__text {
        text-align: center;
    }

    &-secundary {
        height: 35rem;
    }

    &__services {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;


        @include m.device(v.$tablet) {
            flex-direction: row;
            align-items: unset;
            justify-content: center;
        }
    }

    &__service {
        font-size: 1.8rem;
        font-family: v.$secundaryFont;
    }
}