@use 'base/variables' as v;
@use 'base/mixins' as m;

.aside {
    height: max-content;
    width: 100%;
    padding: 2rem;

    @include m.device(v.$tablet) {
        width: 25rem;
        padding: 2rem;
        position: sticky;
        top: 0;
    }

    @include m.device(v.$XLDesktop) {
        width: 60rem;
    }

    &__heading {
        text-align: center;
    }

    &__contact {
        margin-top: 4rem;
        text-align: center;
    }
}