@use 'base/mixins' as m;
@use 'base/variables' as v;

.logo {
    display: none;


    @include m.device(v.$tablet) {
        display: block;
        width: 25rem;
        height: unset;
        fill: v.$darkFontColor;

        &-scrolled {
            @include m.scheme() {
                fill: v.$lightFontColor;
            }
        }

    }
}