@use 'base/variables' as v;
@use 'base/mixins' as m;

:root {
    font-size: 62.5%;
    font-family: v.$primaryFont;
    line-height: 1.5;
    font-weight: 400;

  
    color-scheme: light dark;
    color: v.$darkFontColor;
    background-color: v.$dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @include m.scheme() {
        color: v.$lightFontColor;
        background-color: v.$light;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

video {
    max-width: 100%;
    display: block;
}

a {
    color: v.$darkFontColor;
    text-decoration: inherit;

    @include m.scheme() {
        color: v.$lightFontColor;
        
    }


    &:hover {
        color: darken(v.$darkFontColor, 20%);
        

        @include m.scheme() {
            color: lighten(v.$lightFontColor, 20%);
            
        }

    }
}

body {
    // margin: 0;
    // display: flex;
    // place-items: center;
    // min-width: 320px;
    // min-height: 100vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

h1, h2, h3 {
    margin-bottom: 3rem;
    line-height: 1.1;

}

input {
    @include m.scheme() {
        background-color: darken(v.$darkFontColor, 10%);        
    }
}

p, a {
    font-size: 1.6rem;
}

[class$='__container'] {
    padding-block: 5rem;
    overflow: hidden;
}

[class$='__wrapper'] {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}


::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .6rem darken(v.$dark, 10%); 
    border-radius: 10px;

    @include m.scheme() {
        box-shadow: inset 0 0 .5rem darken(v.$light, 50%); 
    }
}

::-webkit-scrollbar-thumb {
    background: lighten(v.$dark, 40%); 
    border-radius: 1rem;
}

ul {
    list-style-type: none;
}


span {
    font-size: 2rem;
}

.button {
    all: unset;
    
    @include m.button(v.$darkFontColor, v.$lightFontColor);
    
    @include m.scheme() {
        @include m.button(v.$lightFontColor, v.$light);
    }
    
    &-center {
        max-width: 30rem;
        margin-inline: auto;
        margin-top: 3rem;
    }

    &-left {
        max-width: 30rem;
    }
}

.icon {
    width: 2.8rem;
    color: v.$secundaryColor;
    stroke: v.$secundaryColor;
}