// Fonts
$primaryFont: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$secundaryFont: 'Montserrat', sans-serif;


// Devices
$tablet: 768px;
$desktop: 1024px;
$LDesktop: 1600px;
$XLDesktop: 3840px;

// Colors
$dark: #242424;
$light: #ffffff;
$darkFontColor: #ffffffde;
$lightFontColor: #213547;
$gray: #f9fafb;
$secundaryColor: #7182f3;


// Other secundary Color: #e05780;