@use 'base/mixins' as m;
@use 'base/variables' as v;
.live {
    &__heading {
        text-align: center;
    }

    &__text {
        font-size: 3rem;
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 2rem;
        margin-top: 3rem;
    }

    &__button {
        @include m.button(v.$lightFontColor, white);
    }
}