@use 'base/variables' as v;
@use 'base/mixins' as m;

.featured {
    margin-top: 5rem;
    color: v.$darkFontColor;
    
    background-image: linear-gradient(to left, transparentize(v.$lightFontColor, .7), transparentize(v.$lightFontColor, .3));
    position: relative;
    height: 80rem;

    @include m.device(v.$XLDesktop) {
        height: 150rem;
    }


    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }


    &__info {
        height: 100%;
    }

    &__flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__property {
        max-width: 50rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__icon {
        display: flex;
        gap: .9rem;
    }

    &__text{
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__price {
        font-weight: 700;
        font-size: 4rem;
    }

    &__button {
        @include m.button(v.$darkFontColor, v.$dark);
    }

}