@use 'base/variables' as v;
@use 'base/mixins' as m;

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    
    &__input{
        width: 100%;
        padding: 1rem;
        border-radius: .5rem;
        border: none;
        font-size: 1.6rem;
        font-family: v.$primaryFont;
    }

    &__submit {
        @include m.button(v.$darkFontColor, v.$dark);

        @include m.scheme() {
            @include m.button(v.$lightFontColor, v.$light)
        }
    }
}