@use 'base/variables' as v;
@use 'base/mixins' as m;

.property {
    transition: scale;
    transition-duration: .1s;
    &:hover {
        color: unset;
        scale: 1.01;
    }
    
    &__flex {
        
        @include m.device(v.$desktop) {
            display: flex;
        }
    }

    &__image {

        aspect-ratio: 16/9;
        @include m.device(v.$tablet) {
            padding-right: 2rem;
        }


        @include m.device(v.$desktop) { 
            border-radius: .5rem;
            max-width: 30rem;
            height: 22.5rem;
            overflow: hidden;
            aspect-ratio: unset;
            padding-right: unset;
        }
    }

    &__info {
        padding: 2rem;
        width: 100%;
    }

    &__heading {
        margin-bottom: 1rem;
    }
    
    &__aspects{
        display: flex;
        gap: 1rem;
    }
    &__aspect, &__location{
        display: flex;
        align-items: flex-end;
    }

    &__aspect {
        &-text {
            font-size: 1.4rem;
        }
    }
}