@use 'base/variables' as v;
@use 'base/mixins' as m;

.property {
    @include m.shadow();
    border-radius: .5rem;
    overflow: hidden;
    
    &__flex {
        display: flex;
        gap: 2rem;
    }

    &__image {
        max-width: 30rem;
        height: 22.5rem;
    }
}