@use 'base/mixins' as m;
@use 'base/variables' as v;
.bar {
    
    padding-block: 1rem;
    transition-property: background-color;
    transition-duration: .2s;
    z-index: 100;

    @include m.device(v.$tablet) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__icon {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        @include m.device(v.$tablet) {
            display: none;
        }
    }
    &__flex {

        @include m.device(v.$tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    &__logo {
        filter: invert(1);
        max-width: 25rem;

        @include m.scheme() {
            filter: unset;
        }

    }

    &-scrolled {

        @include m.device(v.$tablet) {
            background-color: v.$dark;
            @include m.shadow();
            
            @include m.scheme() {
                background-color: v.$light;
            }
        }
        
    }
}