@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    text-align: center;
    background-color: v.$lightFontColor;


    @include m.scheme() {
        background-color: v.$dark;
    }

    &__title {
        @include m.scheme() {
            color: v.$darkFontColor;
        }
    }

    &__text {
        @include m.scheme() {
            color: v.$darkFontColor;
        }
        margin-bottom: 3rem;
    }

    &__icons {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    &__icon {
        width: 5rem;
    }

    &__copyright {
        margin-top: 5rem;
        font-weight: 700;
        
        @include m.scheme() {
            color: v.$darkFontColor;
        }
    }
}