@use 'base/mixins' as m;
@use 'base/variables' as v;

.secundaryHeader {
    position: relative;
    height: 90vh;

    &__content {
        background-image: linear-gradient(transparentize(v.$lightFontColor, .2), transparent);
        height: 100%;
    }

    &__video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__flex {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}